

.font-headline {
    font-family: "OliveAntique";
    font-weight: 400;
    font-style: normal;
}

.headline {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
    text-align: center;
}

.bitter-inText {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 349;
    font-style: normal;
    text-align: center;
}

.cafelab {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer {
    margin-top: auto;
    height: 300px;
    background-color: #474749;
    display: flex;
    font-size: x-large;
    justify-content: center;
    color: aliceblue;
}

.mainPanels {
    border-radius: 20px;
    align-content: center;
    align-self: center;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    gap: 4em;
}

.main-panel {
    position: relative;
}

.sticker-home {
    position: absolute;
    top: 0;
    right: 10%;
    padding: 30px;
    background-color: #000000;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    transform: rotate(20deg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.sticker {
    position: absolute;
    top: 0;
    left: -5%;
    background-color: #000000;
    color: #fff;
    border-radius: 20px;
    font-size: 33px;
    transform: rotate(335deg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


.agenda-header {
    justify-content: center;
}

.carousel-item {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.quiz-container {
    max-width: 500px;
    min-width: 250px;
    background: #ffffff;
    border-radius: 4px;
    padding: 30px 60px;
}

.quiz-container .active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: #800080;
}

.quiz-container .total-question {
    font-size: 16px;
    font-weight: 500;
    color: #e0dee3;
}

.quiz-container h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.quiz-container ul {
    margin-top: 20px;
    margin-left: -40px;
}

.quiz-container ul li {
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
}

.quiz-container ul .selected-answer {
    background: #ffd6ff;
    border: 1px solid #800080;
}

.quiz-container button {
    background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
    border-radius: 9px;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.quiz-container button:disabled {
    background: #e7e8e9;
    color: #9fa3a9;
    cursor: not-allowed;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.result h3 {
    font-size: 24px;
    letter-spacing: 1.4px;
    text-align: center;
}

.result p {
    font-size: 16px;
    font-weight: 500;
}

.result p span {
    color: #800080;
    font-size: 22px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.product-img {
    height: 300px;
    width: auto;
}